Flask
requests==2.31.0
werkzeug==3.0.1
# httpx==0.27.0
cryptography
prometheus_fastapi_instrumentator
pymysql
fastapi
uvicorn
prometheus-client
opentelemetry-distro
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-starlette
opentelemetry-instrumentation-logging



